body {
    font-family: 'Courier New', monospace; /* or 'Hack', monospace if you use it */
    background-color: black; /* To match the hacker theme */
    color: rgb(67, 255, 67); /* Classic hacker green text */
    margin:0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;        /* Full viewport height */
  }

.container {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('https://thumbs.dreamstime.com/b/anonymous-hacker-green-color-hoodie-shadow-under-deep-black-green-background-dangerous-criminal-concept-image-hacker-268424877.jpg'); */
    background-size: cover;
    background-position: center;
    opacity: 0.2; /* Adjust opacity as needed */
    z-index: -1; /* Keep it behind the content */
  }

.wrapper{
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: 0.2s;
}

.bhoy{
  padding-left: 10px;
    transition: 0.5s;
}

.btn{
    background-color: white;
    padding: 15px;
    margin: auto;
    font-size: 17px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    justify-self: center;  /* Horizontally center */
    align-self: center;      /* Vertically center */
    border-radius: 10px;
    box-shadow: 1px 1px 2px white;
    transition: 0.2s;
}

.btn:hover{
    background-color: silver;
}